[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
[submodule "src/fast_lio_ros2"]
	path = src/fast_lio_ros2
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
